<div class="container">
  <button (click)="subscribe()" mat-button>Subscribe</button>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
      @for (data of marketData; track data) {
        <mat-option [value]="data.symbol">{{data.symbol}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  <div class="market-data">
    <p><strong>Symbol:</strong> {{ selected ? selected.symbol : "" }}</p>
    <p><strong>Price:</strong> {{ 100 | currency }}</p>
  </div>
  
  <div class="charting-data">
    <p>Charting data:</p>
    <div>
      <canvas id="canvas">{{chart}}</canvas>
    </div>
  </div>

</div>